<div class="container-fluid text-white">
    <h1 class="text-center m-2">Game {{ gameID }}</h1>

    <table class="table table-dark m-2">
        <thead>
            <th>#</th>
            <th>Name</th>
            <th *ngIf="gameStarted" >Assigned Player</th>
            <th *ngIf="gameStarted" >Person/Animal/Character to guess</th>
            <th *ngIf="!gameStarted" >Ready</th>
        </thead>
        <tbody>
            <tr *ngFor="let player of players">
                <td>{{ players.indexOf(player) }}</td>
                <td>{{ player.name }}</td>
                <td *ngIf="gameStarted" >{{ player.assignedPlayer }}</td>
                <td *ngIf="gameStarted" >{{ player.submissionText }}</td>
                <td *ngIf="!gameStarted">
                    <label class="b-contain">
                        <input type="checkbox" (change)="onReady($event)" [disabled]="player.name != playerName" [checked]="player.ready">
                        <div class="b-input"></div>
                    </label>
                </td>
            </tr>
        </tbody>
    </table>

    <form #submissionForm="ngForm" class="bg-dark mt-4 d-flex flex-wrap justify-content-center"  (ngSubmit)="onSubmit(submissionForm)" *ngIf="gameStarted">
        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-arrow-right"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Max Mustermann" name="submission" required ngModel>
        </div>
        <button type="submit" class="btn btn-primary px-4 w-50" [disabled]="!submissionForm.valid">Submit</button>
    </form>
</div>
